

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body{

    font-family: 'Open Sans', sans-serif;
    background-image: url(./imagenes/angel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.titulo{
    font-size: 3em;
    color: rgb(4, 36, 44);
}
.descripcion {
    background-color: rgba(255, 255, 255, 0.472);
    padding: 10px;
}

.descripcion1{
    color: rgb(4, 36, 44);
}

.historia_info {
    display: flex;
    background-color: rgba(28, 168, 223, 0.363);
    margin: 20px 30px;
    border-radius: 10px;
    margin-top: 0;
}

.img_video {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.img {
    height: 200px;
    border-radius: 10px;
}
.video {
    padding: 5px 10px;
    background-color: #8b73e4d3;
    margin: 20px;
    width: 100px;
    text-decoration: none;
    color: rgba(14, 13, 13, 0.712);
    border-radius: 10px;
    text-align: center;
}


.contenedor_info {
    display: flex;
    gap: 20px;
}

.contenedor_info {
    display: flex;
    gap: 20px;
}

.info_descripcion p,
.info p {
    margin: 10px 0;
    
}
